p{
    margin: 0;
}

.video-info{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.title{
    font-size: 36px;
}

.info{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    column-gap: 70px;
    border-top: 2px solid ;
    border-bottom: 2px solid;
}
