@use '../../styles/partials/media' as *;

.container{
    position: relative;
}

video{
    max-height: 80vh;
    max-width: 80vw;
}

.video-details{
    @include desktop{
         display: flex;
         padding: 0 120px;
    }

    &__one{
        flex: 7;
        border-right: 2px solid #e1e1e1;
    }

    &__two{
        flex: 3;
    }
   
}

.control{

    &__play{
        position: absolute;
        left: 8vw;
        padding: 10px 20px;
        bottom: 18px;
        border-radius: 5px;
        background-color: #323232;
    }
}
